.venv/
**/__pycache__/
**.sqlite3**
**.xml
src/ontology/temp/*.owl
.idea/.gitignore
.idea/backend.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
