

      # state = State('MG')
      # biome1 = Biome('Caatinga')
      # biome2 = Biome('Mata_Atlantica')
      # city = City(f'JUIZ_DE_FORA',
      #             biome = [biome2,biome1],
      #             fiscal_module=[25.0],
      #             state=[state])
      # farm = Farm(f'Farm{x}', city=[city], hectare=[37.1 * x])

    # onto.save()
    
    # with onto:
      # sync_reasoner_pellet(infer_property_values = True, infer_data_property_values = True)
    


    # print(onto.get_parents_of(farm))
    # >>> onto.search_one(is_a = onto.Pizza)
    # >>> onto.search_one(label = "my label")
    # >>> onto.search(is_a = onto.Pizza, has_topping = onto.search(is_a = onto.TomatoTopping))
    # iri = "*Topping"

    # farm_query = onto.search_one( hectare = "*")
    # farm_query = list(onto.individuals())
    # state = onto["MG"]
    # print(f'State: {state}')
    # farm_query = list(onto.search(is_a = onto.Farm, has_state_associated = state))
    
    # for query in farm_query:
    #   print(query)